<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Library Managment System</span>
        <span class="example-spacer"></span>
        {{loggedInUserName}}
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
            <mat-icon aria-hidden="false">logout</mat-icon>
        </button>
    </mat-toolbar>
</p>